In [1]:
import psycopg2
import csv

In [20]:
# Establishing the connection
conn = psycopg2.connect(
    database="odoo_middleware",
    user='postgres',
    password='12345678',
    host='localhost',
    port='5432'
)
# Connection
# cursor = conn.cursor()

In [21]:
def check_if_exist(order):
    postgreSQL_select_Query = "select * from order_transaction where business_day=%s and product_code=%s and store_code=%s"
    cursor.execute(postgreSQL_select_Query, (order[0],order[1],order[3]))
    records = cursor.fetchall()
    if(len(records) != 0):
        return records;
    else:
        return "no";
        
    return ""
# def check_if_data_different(data_d):
#     different = "no";
#     postgreSQL_select_Query = "select * from product where product_code=%s"
#     cursor.execute(postgreSQL_select_Query, (product_code_d,))
#     records = cursor.fetchall()
#     for m in records:
#         if m[1] != data_d[1] or m[2] != data_d[2] or m[3] != data_d[3] or m[4] != data_d[4] or m[5] != data_d[5] or m[6] != data_d[6] or m[7] != data_d[7] or m[8] != data_d[8] or m[9]!=data_d[9]:
#             return "yes";
        
#     return different;

In [16]:
cursor = conn.cursor()
file = open('Order Transactions.csv')
csvreader = csv.reader(file)
next(csvreader, None)
rows = []
for row in csvreader:
    total = int(row[4])+int(row[5])+int(row[6])+int(row[7])+int(row[8])+int(row[9])+int(row[10])+int(row[11])+int(row[12])+int(row[13])+int(row[14])+int(row[15])+int(row[16])+int(row[17])+int(row[18])+int(row[19])+int(row[20])+int(row[21])+int(row[22])+int(row[23])+int(row[24])+int(row[25])+int(row[26])+int(row[27])
    try:
        #1. Insert: If code not exist
        if(check_if_exist(row)) == "no": 
            postgres_insert_query = """ INSERT INTO order_transaction (
            business_day,
            product_code,
            store_code,
            qty_1,
            qty_2,
            qty_3,
            qty_4,
            qty_5,
            qty_6,
            qty_7,
            qty_8,
            qty_9,
            qty_10,
            qty_11,
            qty_12,
            qty_13,
            qty_14,
            qty_15,
            qty_16,
            qty_17,
            qty_18,
            qty_19,
            qty_20,
            qty_21,
            qty_22,
            qty_23,
            qty_24,
            qty_total
            ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
            record_to_insert = (row[0],row[1],row[3],int(row[4]),int(row[5]),int(row[6]),int(row[7]),int(row[8]),int(row[9]), int(row[10]),int(row[11]),int(row[12]),int(row[13]),int(row[14]),int(row[15]),int(row[16]),int(row[17]),int(row[18]),int(row[19]), int(row[20]),int(row[21]),int(row[22]),int(row[23]),int(row[24]),int(row[25]),int(row[26]),int(row[26]),int(row[27]),total)
            cursor.execute(postgres_insert_query, record_to_insert)
            conn.commit()
    
        #2. Update: If date, product code and store exist
        else:
            datas = check_if_exist(row);
            
            qty_1_new = datas[3] + int(row[4]);
            qty_2_new = datas[4] + int(row[5]);
            qty_3_new = datas[5] + int(row[6]);
            qty_4_new = datas[6] + int(row[7]);
            qty_5_new = datas[7] + int(row[8]);
            qty_6_new = datas[8] + int(row[9]);
            qty_7_new = datas[9] + int(row[10]);
            qty_8_new = datas[10] + int(row[11]);
            qty_9_new = datas[11] + int(row[12]);
            qty_10_new = datas[12] + int(row[13]);
            qty_11_new = datas[13] + int(row[14]);
            qty_12_new = datas[14] + int(row[15]);
            qty_13_new = datas[15] + int(row[16]);
            qty_14_new = datas[16] + int(row[17]);
            qty_15_new = datas[17] + int(row[18]);
            qty_16_new = datas[18] + int(row[19]);
            qty_17_new = datas[19] + int(row[20]);
            qty_18_new = datas[20] + int(row[21]);
            qty_19_new = datas[21] + int(row[22]);
            qty_20_new = datas[22] + int(row[23]);
            qty_21_new = datas[23] + int(row[24]);
            qty_22_new = datas[24] + int(row[25]);
            qty_23_new = datas[25] + int(row[26]);
            qty_24_new = datas[26] + int(row[27]);
            
            totals = qty_1_new+qty_2_new+qty_3_new+qty_4_new+qty_5_new+qty_6_new+qty_7_new+qty_8_new+qty_9_new+qty_10_new+qty_11_new+qty_12_new+qty_13_new+qty_14_new+qty_15_new+qty_16_new+qty_17_new+qty_18_new+qty_19_new+qty_20_new+qty_21_new+qty_22_new+qty_23_new+qty_24_new
            qty_total_new = totals;
            sql_update_query = """Update order_transaction set 
            qty_1 = %s,
            qty_2 = %s,
            qty_3 = %s,
            qty_4 = %s,
            qty_5 = %s,
            qty_6 = %s,
            qty_7 = %s,
            qty_8 = %s,
            qty_9 = %s,
            qty_10 = %s,
            qty_11 = %s,
            qty_12 = %s,
            qty_13 = %s,
            qty_14 = %s,
            qty_15 = %s,
            qty_16 = %s,
            qty_17 = %s,
            qty_18 = %s,
            qty_19 = %s,
            qty_20 = %s,
            qty_21 = %s,
            qty_22 = %s,
            qty_23 = %s,
            qty_24 = %s,
            qty_total = %s
            
            where business_day=%s and product_code=%s and store_code=%s
            """
            cursor.execute(sql_update_query, (qty_1_new,qty_2_new,qty_3_new,qty_4_new,qty_5_new,qty_6_new,qty_7_new,qty_8_new,qty_9_new,qty_10_new,qty_11_new,qty_12_new,qty_13_new,qty_14_new,qty_15_new,qty_16_new,qty_17_new,qty_18_new,qty_19_new,qty_20_new,qty_21_new,qty_22_new,qty_23_new,qty_24_new,qty_total_new,row[0],row[1],row[3]))
            conn.commit()   
    except:
        print(row)
# file.close()